@page "/customerInfo"

<PageTitle>Customer Info</PageTitle>

<h1>Customer Info</h1><br><br>
<label for="fname">First Name:</label> <input type="text" id="fname" name="fname">
<label for="lname">Last Name:</label> <input type="text" id="lname" name="lname"><br><br>
<label for="customerAddress">Address:</label> <input type="text" id="customerAddress" name="customerAddress">
<label for="city">City:</label> <input type="text" id="city" name="city">
<label for="state">State:</label> <input type="text" id="state" name="state"><br><br>
<label for="email">Email:</label> <input type="email" id="email" name="email">
<label for="phoneNumber">Phone Number:</label> <input type="text" id="phoneNumber" name="phoneNumber"><br><br>
<label for="insCompany">Insurance Company:</label> <input type="text" id="insCompany" name="insCompany">
<label for="insPolicyNum">Policy Number:</label> <input type="text" id="insPolicyNum" name="insPolicyNum"><br><br>


@* <button class="btn btn-primary" @onclick="IncrementCount">Submit</button> *@

@code {
    class customer{
        private string fname;
        private string lname;
        private string customerAddress;
        private string city;
        private string state;
        private string email;
        private string phoneNumber;
        private string insCompany;
        private string insPolicyNum;
    

    public customer(string fname, string lname, string phoneNumber, string customerAddress, string email, string insuranceName, string policyNum){
                this.setFirstName(fname);
                this.setLastName(lname);
                this.setCustomerAddress(customerAddress);
                this.setCity(city);
                this.setState(state);
                this.setEmail(email);
                this.setPhoneNumber(phoneNumber);
                this.setInsCompany(insCompany);
                this.setInsPolicyNum(insPolicyNum);
        }
        //getters
        public string getFName(){
            return fname;
        }
        public string getLName(){
            return lname;
        }
        public string getCustomerAddress(){
            return customerAddress;
        }
        public string getCity(){
            return city;
        }
        public string getState(){
            return state;
        }
        public string getEmail(){
            return email;
        }
        public string getPhoneNumber(){
            return phoneNumber;
        }
        public string getinsCompany(){
            return insCompany;
        }
        public string getInsPolicyNum(){
            return insPolicyNum;
        }

            //setters
        public void setFirstName(string newFName){
            this.fname = newFName;
        }
        public void setLastName(string newLName){
            this.lname = newLName;
        }
        public void setCustomerAddress(string newCustomerAddress){
            this.customerAddress = newCustomerAddress;
        }
        public void setCity(string newCity){
            this.city = newCity;
        }
        public void setState(string newState){
            this.state = newState;
        }
        public void setEmail(string newEmail){
            this.email = newEmail;
        }
        public void setPhoneNumber(string newPhoneNumber){
            this.phoneNumber = newPhoneNumber;
        }
        public void setInsCompany(string newInsCompany){
            this.insCompany = newInsCompany;
        }
        public void setInsPolicyNum(string newInsPolicyNumber){
            this.insPolicyNum = newInsPolicyNumber;
        }
    }
}