@page "/"

<PageTitle>Home</PageTitle>

<h1>Shop Tracking System</h1><br><br>

<h4>Login:</h4><br>
<label for="uname">Username:</label> <input type="text" id="uname" placeholder="Enter Username" name="uname" required>
<label for="pword">Password:</label> <input type="password" id="pword" placeholder="Enter Password" name="pword" required><br><br>
